@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.87);


	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #0c0c0c;
}

body {
	margin: 0;
	font-family: "Heebo";
}

p {
	color:#797979;
	font-size: 0.9rem;
	max-width: 700px;
	margin: 0;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.card {
	padding: 2em;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 1rem;
}

button {
	background-color: #e4e4e4;
    border: 1px solid #ccc;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
	transition: border-color 0.25s;
}

/* button:hover {
	outline: 4px auto -webkit-focus-ring-color
} */
/* button:focus,
button:focus-visible {
	background-color: #0c0c0c;
	color: #fff;
} */

button:active {
	background-color: #4caf50;
    color: white;
}



@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
